In [1]:
from pyaaas.aaas import AaaS
from pyaaas.models.privacy_models import KAnonymity
from pyaaas.attribute_type import AttributeType
from pyaaas.dataset import Dataset
import pandas as pd

In [2]:
aaas = AaaS("http://localhost:8080/") # connecting to online service

In [3]:
data_df = pd.read_csv("../data/dummy-dataset-260219.csv", sep=";")

In [4]:
data_df

,Dummy_tag,ID,Navn,Alder,Sivilstatus,Barn,Innsatsgruppe,Innvandrerbakgrunn,Ledighetsstatus,Utdanning,Ytelse,Medisinsk forhold
0,dummy_data,PY827,Eirik,47,Ukjent,1,Situasjonsbestemt innsats,Togo,Delvis ledig,Høyere utd inntil 4 år,Tiltakspenger,Ingen
1,dummy_data,CX244,Ella,30,Gift,2,Varig tilpasset,Surinam,Ordinær tiltaksdeltaker,Grunnskole,Dagpenger,Ingen
2,dummy_data,ZE697,Solveig,37,Ukjent,1,Standard innsats,Malta,Delvis ledig,Grunnskole,Dagpenger,Ingen
3,dummy_data,AR215,Eirik,52,Ugift,1,Standard innsats,Norge,Andre arbeidssøkende,Høyere utd inntil 4 år,Uføretrygd,Ingen
4,dummy_data,CZ546,Heidi,37,Ukjent,3,Spesielt tilpasset,Surinam,Andre arbeidssøkende,Høyere utd over 4 år,Dagpenger,Ingen
5,dummy_data,XF859,Nora,30,Gift,2,Spesielt tilpasset,Malta,Andre arbeidssøkende,VGS,Uføretrygd,Ingen
6,dummy_data,LN430,Sara,42,Enke,2,Situasjonsbestemt innsats,Norge,Andre arbeidssøkende,Høyere utd inntil 4 år,Tiltakspenger,Ingen
7,dummy_data,UX876,Johan,39,Enke,1,Varig tilpasset,Norge,Helt ledig,VGS,Tiltakspenger,Ingen
8,dummy_data,TO107,Tobias,37,Enke,2,Standard innsats,Norge,Delvis ledig,Grunnskole,Dagpenger,Ingen
9,dummy_data,OY439,Ella,42,Gift,2,Standard innsats,Malta,Helt ledig,Ukjent,Tiltakspenger,Ingen
10,dummy_data,VQ216,Arne,41,Enke,2,Standard innsats,Norge,Ordinær tiltaksdeltaker,Grunnskole,Sykepenger,Ingen
11,dummy_data,VI298,Ole,33,Enke,3,Varig tilpasset,Norge,Helt ledig,Høyere utd inntil 4 år,Dagpenger,Ingen
12,dummy_data,QE188,Kristine,42,Skilt,0,Standard innsats,Norge,Ordinær tiltaksdeltaker,VGS,Uføretrygd,Ingen
13,dummy_data,UL777,Stein,36,Skilt,2,Standard innsats,Norge,Helt ledig,VGS,Arbeidsavklaringspenger,Artrose
14,dummy_data,UB444,Anne,35,Ugift,3,Standard innsats,Norge,Andre arbeidssøkende,VGS,Dagpenger,Hjerteflimmer
15,dummy_data,AQ596,Tobias,51,Enke,1,Standard innsats,Neptun,Helt ledig,VGS,Tiltakspenger,Ingen
16,dummy_data,EG195,Ingrid,50,Skilt,1,Standard innsats,Norge,Ordinær tiltaksdeltaker,Grunnskole,Tiltakspenger,Ingen
17,dummy_data,TZ807,Eirik,49,Ukjent,1,Standard innsats,Jupiter,Ordinær tiltaksdeltaker,Høyere utd inntil 4 år,Tiltakspenger,Hjerteflimmer
18,dummy_data,ZE853,Tobias,40,Enke,1,Standard innsats,Togo,Helt ledig,Ukjent,Dagpenger,Ingen
19,dummy_data,AT459,Ole,42,Ukjent,1,Standard innsats,Norge,Ordinær tiltaksdeltaker,VGS,Dagpenger,Ingen
20,dummy_data,SD342,Arne,53,Skilt,3,Situasjonsbestemt innsats,Japan,Ordinær tiltaksdeltaker,VGS,Dagpenger,Ingen
21,dummy_data,GX164,Eirik,30,Gift,2,Standard innsats,Neptun,Helt ledig,VGS,Uføretrygd,Ingen
22,dummy_data,LR559,Andreas,44,Enke,1,Spesielt tilpasset,Norge,Ordinær tiltaksdeltaker,Høyere utd over 4 år,Dagpenger,Ingen
23,dummy_data,WU728,Arne,33,Ugift,3,Standard innsats,Surinam,Ordinær tiltaksdeltaker,Ukjent,Sykepenger,Artrose
24,dummy_data,RI100,Hans,56,Enke,2,Standard innsats,Norge,Helt ledig,VGS,Tiltakspenger,Ingen
25,dummy_data,RF333,Ingrid,41,Gift,2,Spesielt tilpasset,Togo,Delvis ledig,Høyere utd over 4 år,Tiltakspenger,Hjerteflimmer
26,dummy_data,ZT998,Sara,37,Gift,1,Standard innsats,Norge,Helt ledig,Høyere utd inntil 4 år,Dagpenger,Diabetes
27,dummy_data,CG525,Stine,54,Ukjent,4,Standard innsats,Togo,Ordinær tiltaksdeltaker,VGS,Uføretrygd,Ingen
28,dummy_data,IR748,Heidi,41,Skilt,0,Standard innsats,Norge,Delvis ledig,Høyere utd inntil 4 år,Arbeidsavklaringspenger,Ingen
29,dummy_data,PX220,Ella,33,Enke,1,Varig tilpasset,Norge,Andre arbeidssøkende,Høyere utd over 4 år,Dagpenger,Ingen
...,...,...,...,...,...,...,...,...,...,...,...,...
4970,dummy_data,LU989,Nora,54,Gift,-1,Varig tilpasset,Norge,Andre arbeidssøkende,VGS,Dagpenger,Ingen
4971,dummy_data,XM121,Eirik,38,Gift,1,Standard innsats,Norge,Helt ledig,VGS,Arbeidsavklaringspenger,Ingen
4972,dummy_data,NU610,Ole,41,Enke,0,Standard innsats,Norge,Delvis ledig,VGS,Sykepenger,Ingen
4973,dummy_data,MC377,Johan,51,Enke,2,Standard innsats,Malta,Ordinær tiltaksdeltaker,Ukjent,Dagpenger,Ingen
4974,dummy_data,JK262,Marie,44,Skilt,2,Standard innsats,Togo,Helt ledig,Høyere utd over 4 år,Tiltakspenger,Hjerteflimmer
4975,dummy_data,PL554,Stine,31,Skilt,3,Standard innsats,Norge,Ordinær tiltaksdeltaker,Høyere utd inntil 4 år,Dagpenger,Artrose
4976,dummy_data,QB899,Eirik,36,Skilt,2,Standard innsats,Norge,Ordinær tiltaksdeltaker,VGS,Dagpenger,Artrose
4977,dummy_data,DK920,Hans,47,Skilt,1,Standard innsats,Norge,Helt ledig,VGS,Dagpenger,Ingen
4978,dummy_data,GH133,Einar,43,Enke,3,Situasjonsbestemt innsats,Norge,Helt ledig,Høyere utd inntil 4 år,Tiltakspenger,Ingen
4979,dummy_data,IJ786,Sara,47,Skilt,2,Situasjonsbestemt innsats,Norge,Helt ledig,Høyere utd inntil 4 år,Dagpenger,Diabetes
4980,dummy_data,YT416,Ingrid,42,Skilt,3,Situasjonsbestemt innsats,Norge,Ordinær tiltaksdeltaker,VGS,Tiltakspenger,Artrose
4981,dummy_data,ZH563,Marie,44,Ukjent,1,Situasjonsbestemt innsats,Neptun,Delvis ledig,Høyere utd over 4 år,Sykepenger,Ingen
4982,dummy_data,VA886,Hans,36,Gift,2,Standard innsats,Malta,Delvis ledig,Høyere utd inntil 4 år,Arbeidsavklaringspenger,Ingen
4983,dummy_data,HI598,Stein,54,Gift,1,Standard innsats,Neptun,Ordinær tiltaksdeltaker,VGS,Uføretrygd,Ingen
4984,dummy_data,ZX393,Solveig,40,Ukjent,4,Standard innsats,Norge,Helt ledig,Høyere utd inntil 4 år,Sykepenger,Artrose
4985,dummy_data,BM172,Tobias,42,Ugift,3,Standard innsats,Malta,Helt ledig,Høyere utd inntil 4 år,Arbeidsavklaringspenger,Ingen
4986,dummy_data,AT781,Ole,36,Ukjent,5,Standard innsats,Norge,Ordinær tiltaksdeltaker,Høyere utd inntil 4 år,Uføretrygd,Ingen
4987,dummy_data,BG733,Einar,44,Skilt,2,Standard innsats,Norge,Andre arbeidssøkende,VGS,Dagpenger,Ingen
4988,dummy_data,UM395,Stein,39,Enke,3,Spesielt tilpasset,Malta,Ordinær tiltaksdeltaker,VGS,Tiltakspenger,Ingen
4989,dummy_data,BK468,Arne,39,Ukjent,0,Standard innsats,Norge,Ordinær tiltaksdeltaker,Høyere utd over 4 år,Tiltakspenger,Hjerteflimmer
4990,dummy_data,LT502,Arne,33,Gift,3,Varig tilpasset,Malta,Ordinær tiltaksdeltaker,Høyere utd over 4 år,Arbeidsavklaringspenger,Ingen
4991,dummy_data,KV910,Stein,33,Enke,2,Standard innsats,Norge,Ordinær tiltaksdeltaker,VGS,Dagpenger,Ingen
4992,dummy_data,CS971,Ole,45,Gift,2,Standard innsats,Surinam,Helt ledig,Høyere utd over 4 år,Sykepenger,Ingen
4993,dummy_data,UP209,Einar,46,Ugift,2,Standard innsats,Norge,Andre arbeidssøkende,Høyere utd inntil 4 år,Tiltakspenger,Diabetes
4994,dummy_data,BH352,Kristian,42,Ukjent,1,Varig tilpasset,Norge,Helt ledig,Ukjent,Dagpenger,Ingen
4995,dummy_data,AI829,Andreas,38,Enke,2,Standard innsats,Norge,Andre arbeidssøkende,VGS,Dagpenger,Diabetes
4996,dummy_data,MN372,Nora,42,Skilt,1,Spesielt tilpasset,Norge,Helt ledig,Høyere utd inntil 4 år,Arbeidsavklaringspenger,Ingen
4997,dummy_data,IR378,Ingrid,39,Skilt,3,Standard innsats,Norge,Ordinær tiltaksdeltaker,VGS,Dagpenger,Ingen
4998,dummy_data,SI932,Einar,36,Gift,1,Spesielt tilpasset,Surinam,Ordinær tiltaksdeltaker,VGS,Dagpenger,Ingen
4999,dummy_data,NE378,Ella,36,Skilt,3,Spesielt tilpasset,Norge,Helt ledig,VGS,Tiltakspenger,Ingen

## Create Dataset

In [5]:
dataset = Dataset.from_pandas(data_df)

In [6]:
headers = data_df.columns.values.tolist()
headers

['Dummy_tag',
 'ID',
 'Navn',
 'Alder',
 'Sivilstatus',
 'Barn',
 'Innsatsgruppe',
 'Innvandrerbakgrunn',
 'Ledighetsstatus',
 'Utdanning',
 'Ytelse',
 'Medisinsk forhold']

In [7]:
dataset.set_attributes(['ID',
                        'Navn',
                        'Medisinsk forhold'],
                       AttributeType.IDENTIFYING)

In [8]:
dataset.set_attributes(['Innsatsgruppe',
                        'Innvandrerbakgrunn',
                        'Ledighetsstatus',
                           'Ytelse'],
                        AttributeType.QUASIIDENTIFYING)

dataset.set_attributes(['Dummy_tag',
                        'Alder',
                        'Sivilstatus',
                        'Barn',
                        'Utdanning'],
                       AttributeType.INSENSITIVE)

### Set Generalization Hierarchies
Note that if the hierarchy does not have a header row in the csv file, please set header=None in read_csv() or the first row will be interpreted as a header and ARXaaS will throw an exception for the missing hierarchy data.

In [9]:
ytelse_hierarchy = pd.read_csv("../hierarchies/Ytelse_hierarchy.csv", sep=";", header=None)
innsatsgruppe_hierarchy = pd.read_csv("../hierarchies/innsatsgruppe_hierarchy.csv", sep=";", header=None)
innvandrerbakgrunn_hierarchy = pd.read_csv("../hierarchies/innvandrerbakgrunn_hierarchy.csv", sep=";", header=None)
ledighetsstatus_hierarchy = pd.read_csv("../hierarchies/ledighetsstatus_hierarchy.csv", sep=";", header=None)

In [10]:
dataset.set_hierarchy('Ytelse', ytelse_hierarchy)
dataset.set_hierarchy("Innsatsgruppe", innsatsgruppe_hierarchy)
dataset.set_hierarchy("Innvandrerbakgrunn", innvandrerbakgrunn_hierarchy)
dataset.set_hierarchy("Ledighetsstatus", ledighetsstatus_hierarchy)

In [11]:
ledighetsstatus_hierarchy

                         0             1  2
0     Andre arbeidssøkende  Delvis ledig  *
1             Delvis ledig  Delvis ledig  *
2               Helt ledig         ledig  *
3  Ordinær tiltaksdeltaker         ledig  *

### Create Privacy Models

In [12]:
kanon = KAnonymity(4)

### Create Risk Profile

In [13]:
result = aaas.risk_profile(dataset)

In [17]:
result.re_identification_risk_dataframe()

,Journalist_attacker_success_rate,Marketer_attacker_success_rate,Prosecutor_attacker_success_rate,average_prosecutor_risk,estimated_journalist_risk,estimated_marketer_risk,estimated_prosecutor_risk,highest_journalist_risk,highest_prosecutor_risk,lowest_risk,population_model,population_uniques,quasi_identifiers,records_affected_by_highest_journalist_risk,records_affected_by_highest_prosecutor_risk,records_affected_by_lowest_risk,sample_uniques
0,12.06,12.06,12.06,12.06,100.0,12.06,100.0,100.0,100.0,0.4878048780487805,PITMAN,0.042243729241281044,"[Innvandrerbakgrunn, Ytelse, Innsatsgruppe, Le...",2.8000000000000003,2.8000000000000003,15.620000000000001,2.8000000000000003

In [22]:
result.re_identification_risk

{'Prosecutor_attacker_success_rate': '12.06',
 'records_affected_by_highest_prosecutor_risk': '2.8000000000000003',
 'sample_uniques': '2.8000000000000003',
 'estimated_prosecutor_risk': '100.0',
 'population_model': 'PITMAN',
 'highest_journalist_risk': '100.0',
 'records_affected_by_lowest_risk': '15.620000000000001',
 'estimated_marketer_risk': '12.06',
 'Journalist_attacker_success_rate': '12.06',
 'highest_prosecutor_risk': '100.0',
 'estimated_journalist_risk': '100.0',
 'lowest_risk': '0.4878048780487805',
 'Marketer_attacker_success_rate': '12.06',
 'average_prosecutor_risk': '12.06',
 'records_affected_by_highest_journalist_risk': '2.8000000000000003',
 'population_uniques': '0.042243729241281044',
 'quasi_identifiers': '[Innvandrerbakgrunn, Ytelse, Innsatsgruppe, Ledighetsstatus]'}

In [24]:
rdf = result.distribution_of_risk_dataframe()

In [25]:
rdf

,interval,recordsWithMaxmalRiskWithinInterval,recordsWithRiskWithinInteval
0,"]50,100]",1.0000,0.0280
1,"]33.4,50]",0.9720,0.0448
2,"]25,33.4]",0.9272,0.0456
3,"]20,25]",0.8816,0.0320
4,"]16.7,20]",0.8496,0.0360
5,"]14.3,16.7]",0.8136,0.0396
6,"]12.5,14.3]",0.7740,0.0294
7,"]10,12.5]",0.7446,0.0574
8,"]9,10]",0.6872,0.0360
9,"]8,9]",0.6512,0.0216
10,"]7,8]",0.6296,0.0216
11,"]6,7]",0.6080,0.0398
12,"]5,6]",0.5682,0.0636
13,"]4,5]",0.5046,0.0172
14,"]3,4]",0.4874,0.0720
15,"]2,3]",0.4154,0.0830
16,"]1,2]",0.3324,0.1762
17,"]0.1,1]",0.1562,0.1562
18,"]0.01,0.1]",0.0000,0.0000
19,"]0.001,0.01]",0.0000,0.0000
20,"]0.0001,0.001]",0.0000,0.0000
21,"]1e-5,0.0001]",0.0000,0.0000
22,"]1e-6,1e-5]",0.0000,0.0000
23,"]0,1e-6]",0.0000,0.0000

## Anonymize

In [26]:
anon_ds = aaas.anonymize(dataset, [kanon])

In [34]:
anon_ds.

pyaaas.anonymize_result.AnonymizeResult.AnonymizationMetrics

In [71]:
anon_rp = aaas.risk_profile(anon_ds)

In [72]:
anon_rp.distributionOfRisk_to_dataframe()

,interval,recordsWithMaxmalRiskWithinInterval,recordsWithRiskWithinInteval
0,"]50,100]",1.0000,0.9382
1,"]33.4,50]",0.0618,0.0556
2,"]25,33.4]",0.0062,0.0054
3,"]20,25]",0.0008,0.0008
4,"]16.7,20]",0.0000,0.0000
5,"]14.3,16.7]",0.0000,0.0000
6,"]12.5,14.3]",0.0000,0.0000
7,"]10,12.5]",0.0000,0.0000
8,"]9,10]",0.0000,0.0000
9,"]8,9]",0.0000,0.0000
10,"]7,8]",0.0000,0.0000
11,"]6,7]",0.0000,0.0000
12,"]5,6]",0.0000,0.0000
13,"]4,5]",0.0000,0.0000
14,"]3,4]",0.0000,0.0000
15,"]2,3]",0.0000,0.0000
16,"]1,2]",0.0000,0.0000
17,"]0.1,1]",0.0000,0.0000
18,"]0.01,0.1]",0.0000,0.0000
19,"]0.001,0.01]",0.0000,0.0000
20,"]0.0001,0.001]",0.0000,0.0000
21,"]1e-5,0.0001]",0.0000,0.0000
22,"]1e-6,1e-5]",0.0000,0.0000
23,"]0,1e-6]",0.0000,0.0000

In [73]:
anon_rp.reIdentificationRisk_to_dataframe()

,Journalist_attacker_success_rate,Marketer_attacker_success_rate,Prosecutor_attacker_success_rate,average_prosecutor_risk,estimated_journalist_risk,estimated_marketer_risk,estimated_prosecutor_risk,highest_journalist_risk,highest_prosecutor_risk,lowest_risk,measure_value,population_model,population_uniques,quasi_identifiers,records_affected_by_highest_journalist_risk,records_affected_by_highest_prosecutor_risk,records_affected_by_lowest_risk,sample_uniques
0,96.8,96.8,96.8,96.80000000000001,100.0,96.80000000000001,100.0,100.0,100.0,25.0,[%],PITMAN,30.589150757853673,"[Alder, Innvandrerbakgrunn, Medisinsk forhold,...",93.82000000000001,93.82000000000001,0.08,93.82000000000001